
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<section class="single-banner inner-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>
            </ol>
        </nav>
    </div>
</section>
<section class="inner-section checkout-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 alert-info">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Giỏ hàng của bạn</h4>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-serial">
                                            <h6>01</h6>
                                        </td>
                                        <td class="table-image">
                                            <img src="~/wwwroot/images/product/hb0119_wht_1000x1000_2116264165.jpg" alt="product" />
                                        </td>
                                        <td class="table-name">
                                            <h6>Túi xách tay quai cầm phối vải HB0119</h6>
                                        </td>
                                        <td class="table-price">
                                            <h6>810.000vnđ</h6>
                                        </td>
                                        <td class="table-quantity">
                                            <div class="cart-action-group"
                                                 style="justify-content: center">
                                                <div class="product-action">
                                                    <button class="action-minus"
                                                            title="Quantity Minus">
                                                        <i class="icofont-minus"></i>
                                                    </button><input class="action-input"
                                                                    title="Quantity Number"
                                                                    type="text"
                                                                    name="quantity"
                                                                    value="1" /><button class="action-plus"
                                                                                        title="Quantity Plus">
                                                        <i class="icofont-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-action">
                                            <a class="view"
                                               href="#"
                                               title="Quick View"
                                               data-bs-toggle="modal"
                                               data-bs-target="#product-view"><i class="fas fa-eye"></i></a><a class="trash" href="#" title="Remove Wishlist">
                                                <i class="icofont-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-serial">
                                            <h6>02</h6>
                                        </td>
                                        <td class="table-image">
                                            <img src="~/wwwroot/images/product/02.jpg" alt="product" />
                                        </td>
                                        <td class="table-name">
                                            <h6>Ví cầm tay họa tiết dập chỉ WA0149</h6>
                                        </td>
                                        <td class="table-price">
                                            <h6>410.000vnđ</h6>
                                        </td>
                                        <td class="table-quantity">
                                            <div class="cart-action-group"
                                                 style="justify-content: center">
                                                <div class="product-action">
                                                    <button class="action-minus"
                                                            title="Quantity Minus">
                                                        <i class="icofont-minus"></i>
                                                    </button><input class="action-input"
                                                                    title="Quantity Number"
                                                                    type="text"
                                                                    name="quantity"
                                                                    value="1" /><button class="action-plus"
                                                                                        title="Quantity Plus">
                                                        <i class="icofont-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-action">
                                            <a class="view"
                                               href="#"
                                               title="Quick View"
                                               data-bs-toggle="modal"
                                               data-bs-target="#product-view"><i class="fas fa-eye"></i></a><a class="trash" href="#" title="Remove Wishlist">
                                                <i class="icofont-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout-charge mt-5 mb-3">
                            <ul>
                                <li><span>Tổng số tiền :</span><span> 1.220.000vnđ</span></li>
                            </ul>
                        </div>
                        <div class="checkout-proced">
                            <a href="@Url.Action("Invoice","Home")" class="btn btn-inline">thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

