
@model Sablanca.Models.SanPham

<section class="single-banner inner-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">@Model.DanhMuc.TenDM</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.TenSP</li>
            </ol>
        </nav>
    </div>
</section>
