@model Sablanca.Models.DanhMuc

<section class="inner-section single-banner">
    <div class="container">
        <h2>@Model.DanhMuc.TenDM</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.DanhMuc.TenDM
            </li>
        </ol>
    </div>
</section>